body {
  background: #00111d;
  color: white;
  font-family: monospace;
  padding: 20px;
}

input,
textarea {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  background: transparent;
  border: 1px solid white;
  color: white;
}

textarea {
  height: 100px;
}

button {
  padding: 10px 20px;
  cursor: pointer;
}

.inventory-card {
  border: 1px solid white;
  padding: 20px;
  margin-top: 20px;
}